<html layout:decorate="~{layout}">
<div layout:fragment="layout">
    <div class="container my-5 d-flex justify-content-center align-items-center">
        <div class="card w-50 p-4">
            <h2 class="fw-bold ms-3 mt-3">로그인</h2>
            <div class="p-4">
                <form th:action="@{/user/login}" method="post" th:object="${userLoginForm}">
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">사용자ID 또는 비밀번호를 확인해주세요.</div>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="아이디" th:text="${username}" name="username">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="비밀번호" th:text="${password}" name="username">
                    </div>
                    <div class="card text-center">
                        <button type="submit" class="btn btn-danger" style="color: #ffffff; text-decoration: none;">로그인</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>